
/*
 * Style for the menuBar and main.jsx
 */

.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.menuBar {
  top: 0em;
  left: 0em;
  width: 100%;
  background-color: rgb(77, 80, 85);
  color: rgb(211, 211, 211);
  padding-top: .5em;
  padding-bottom: .5em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuBar > * {
  margin: .4em;
}

.link {
  color: white;
}

.daylyMessageLink {
  composes: link;
}

.logout {
  composes: link;
}

.logout::after {
  content: " >>";
}
