.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.KeysList {
  font-family: monospace;
  list-style: none;
  padding: 0px;
}
.KeysList > li {
  line-height: 2;
}
.KeysList span {
  padding: .3em;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .3em;
}

.DownloadLink {
  composes: PrimaryButton from "../formElements.module.css";
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.Gandalf {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
