/*
 * Friends List styles
 */

.Outer {
  padding: 1em;
}

.Title {
  font-size: 120%;
  border-bottom: 1px solid grey;
}

.List {
  list-style: none;
  padding-left: 1em;
  max-width: 15cm;
  margin-left: auto;
  margin-right: auto;
}

.ListItem {
  display: flex;
  flex-direction: row;
}

.ListItem::nth-child(odd) {
  background-color: rgb(173, 173, 173);
}

.Name {
  flex: auto;
}

.ListItemElement {
  flex: 20px 0 0;
}
