/*
 * Friends List styles
 */

.Outer {
  padding: 1em;
}

.Title {
  font-size: 120%;
  border-bottom: 1px solid grey;
}

.List {
  list-style: none;
  padding-left: 1em;
}

.ListItem {
  display: flex;
  flex-direction: row;
}

.ListItem::nth-child(odd) {
  background-color: rgb(173, 173, 173);
}
