.menuBar {
  top: 0em;
  left: 0em;
  width: 100%;
  background-color: rgb(77, 80, 85);
  color: rgb(211, 211, 211);
  padding-top: .5em;
  padding-bottom: .5em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuBar > * {
  margin: .4em;
}

.link {
  color: white;
}

.AccountMenu {
  composes: link;
  display: block;
  height: inherit;
  position: relative;
  cursor: pointer;
}

.AccountMenuBody {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.05em;
  background-color: rgb(77, 80, 85);
  padding: .6em;
}

.daylyMessageLink {
  composes: link;
}

.logout {
  composes: link;
}

.logout::after {
  content: " >>";
}
