/*
 * Styles for Chat Dialog
 */

.InputRow {
  margin: .4em;
  display: flex;
  flex-direction: row;
}

.TextBox {
  composes: Input from "./formElements.module.css";
  flex: 4 0 auto;
  margin-right: 0.5em;
}
