/*
 * styling for the chat/tabs
 */

.container {
  position: relative;
  height: calc(100vh - 3.2rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  padding-top: 3.1rem;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.tabButton {
  flex: 1 1 auto;
  border: 0px solid black;
  border-bottom-width: 1px;
  border-radius: 0.25rem 0.25rem 0 0;
  margin: 1px 0 -1px 0;
  padding: 0.5em 1em;
  background-color: #fff;
}
.tabButton:focus {
  box-shadow: 0 0 0 0.2em highlight;
  position: relative;
  z-index: 2;
}
.tabButton[aria-selected="true"] {
  border-width: 1px 1px 0px 1px;
  border-width: 1px;
  border-bottom-color: #fff;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0.3em;
  height: 80%;
  line-height: 1.5;
}
