/*
 * Styles for chatMessagesList
 */

.List {
  flex: 1 1 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 8.7em);
}

.Message > span, .Message > time {
  padding-right: 0.3em;
  font-size: 120%;
}

.AvatarName::after {
  content: ":";
}
