/*
 * Styles for Form Elements
 */

/* Buttons */

.Button {
  flex: auto;
  padding: .5em;
  font-size: 1rem;
  border-radius: .25rem;
  border: 0px;
  border: var(--button-border);
  font-weight: 400;
  background: #e0e0e0;
}
.Button:hover, .Button:focus {
  background: #cacbcd;
}
.Button:disabled {
  opacity: 0.65;
}

.DangerButton {
  composes: Button;
  color: #fff;
  background: #dc3545;
}
.DangerButton:hover, .DangerButton:focus {
  background: #c82333;
}

.OkButton {
  composes: Button;
  color: #fff;
  background: #28a745;
}
.OkButton:hover, .OkButton:focus {
  background: #218838;
}

.PrimaryButton {
  composes: Button;
  color: #fff;
  background: #0d71bb;
}
.PrimaryButton:hover, .PrimaryButton:focus {
  background: #0c5a93;
}

.SecondaryButton {
  composes: Button;
  background: #939393;
}
.SecondaryButton:hover, .SecondaryButton:focus {
  background: #868686;
}

/* Input */

.Input {
  padding: 0.45em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.87);
}
.Input:focus {
  border-color: highlight;
}

.MediumInput {
  composes: Input;
  font-size: 0.85rem;
}

/* Forms */

.FormField {
  display: flex;
  flex-direction: column;
  margin: .3em;
}
.FormField > label {
  margin-right: .3em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.4em;
}

.Help {
  color: #6c757d;
  line-height: 1.5;
}

.Error {
  composes: Help;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.2em;
  padding: 0.50rem 1.00rem;
  margin-top: 0.25rem;
}

.Help[data-hide="true"], .Error[data-hide="true"] {
  display: none;
}
