:root, body {
  margin: 0px;
  padding: 0px;
}

.AppContainer {
  top: 0px;
  left: 0px;
  width: 100vw;
  padding: 0px;
  padding-top: 2.5rem;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

.LoadingView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
