.Container {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100vw;
  height: 2rem;
  background-color: rgb(77, 80, 85);
  color: rgb(211, 211, 211);
  padding-top: .5em;
  padding-bottom: .5em;
}

.Container > * {
  margin-top: .4em;
  margin-bottom: .4em;
}

.Container > span > span {
  text-transform: capitalize;
}

.BurgerMenuItem {
  color: white;
  background: rgba(0, 0, 0, 0);
  border: 0px;
  font-size: 1.15em;
}

.BurgerMenuLogout {
  composes: BurgerMenuItem;
}
.BurgerMenuLogout:after {
  content: " >>";
}
