@tailwind base;

.btn {
  @apply p-2 text-base font-normal text-center text-black bg-gray-100 border-0 rounded;
}
.btn:hover, .btn:focus {
  @apply bg-gray-300 shadow-outline outline-none;
}
.btn:active {
  @apply bg-gray-400;
}
.btn:disabled {
  @apply opacity-75;
}

.btn--danger {
  @apply text-white bg-red-700;
}
.btn--danger:hover, .btn--danger:focus {
  @apply bg-red-800;
}
.btn--danger:active {
  @apply bg-red-900;
}

.btn--ok {
  @apply text-black bg-green-500;
}
.btn--ok:hover, .btn--ok:focus {
  @apply bg-green-600;
}
.btn--ok:active {
  @apply bg-green-700;
}

.btn--primary {
  @apply text-white bg-blue-700;
}
.btn--primary:hover, .btn--primary:focus {
  @apply bg-blue-800;
}
.btn--primary:active {
  @apply bg-blue-900;
}

.btn--secondary {
  @apply text-black bg-gray-400;
}
.btn--secondary:hover, .btn--secondary:focus {
  @apply bg-gray-500;
}
.btn--secondary:active {
  @apply bg-gray-600;
}

.btn-transparent {
  @apply bg-transparent border-0;
}

@responsive {
  .overscroll-contain {
    overscroll-behavior: contain;
  }

  .overscroll-y-contain {
    overscroll-behavior-y: contain;
  }

  .overscroll-x-contain {
    overscroll-behavior-x: contain;
  }
}

/* Burger Menu */
.bm-burger-button {
  @apply fixed top-0 left-0 w-10 h-8 mt-2 ml-2;
}
.bm-burger-button > button:focus {
  @apply rounded shadow-outline outline-none;
}

.bm-overlay {
  @apply top-0;
}

.bm-burger-bars {
  @apply bg-gray-100 rounded-lg;
}

.bm-morph-shape {
  @apply text-gray-700 fill-current;
}

.bm-menu-wrap {
  @apply top-0;
}

.bm-menu {
  @apply px-6 pt-10 pb-0 text-lg bg-gray-700;
}
.bm-menu button, .bm-menu span, .bm-menu a {
  @apply font-sans text-gray-400;
}
.bm-menu button:hover, .bm-menu span:hover, .bm-menu a:hover {
  @apply text-red-400;
}
.bm-menu button:focus, .bm-menu span:focus, .bm-menu a:focus {
  @apply rounded shadow-outline outline-none;
}

.bm-item-list button, .bm-item-list span, .bm-item-list a {
  @apply px-0 py-3 font-bold text-left;
}
.bm-item-list button span, .bm-item-list span span {
  @apply ml-1;
}

.bm-menu a.active {
  @apply opacity-75;
}

.bm-cross {
  @apply bg-gray-400;
}
.bm-cross:hover {
  @apply bg-red-400;
}
.bm-cross-button > button:focus {
  @apply rounded shadow-outline outline-none;
}

@tailwind components;

@tailwind utilities;
